# 比对数据库路径
NT_blast_db: /work1/Users/yangsixue/database/NT/nt_db
NR_blast_db: /work1/Users/yangsixue/database/NR/nr_db
# contig对应关系数据库路径
NT_contig_db: /work1/Users/yangsixue/pipline/blast/DB/NT.db
NR_contig_db: /work1/Users/yangsixue/pipline/blast/DB/NR.db
# 软件路径
blastn: /work1/Users/yangsixue/tools/conda/bin/blastn
blastp: /work1/Users/yangsixue/tools/conda/bin/blastp